*{
    margin: 0;
    padding: 0;
}

.app{
    display: flex;
}

.section{
    width: 33%;
    min-height: 100vh;
    position: relative;
}

/*  Counter Section */

.counter{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*  Upgrade Section */

.section:nth-child(2){
    background-color: black;
}

.upgrade{
    background-color: rgb(63, 161, 226);
    border: 3px solid rgb(54, 54, 54);
}
