*{
    margin: 0;
    padding: 0;
}

.app{
    display: flex;
    max-height: 100vh;
}

.section{
    width: 33%;
    min-height: 100vh;
    position: relative;
}

/*  Counter Section */

.counter{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#click-button{
    padding: 50px;
    background-color: rgb(63, 161, 226);
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: xx-large;
}

/*  Upgrade Section */

.section:nth-child(2){
    background-color: black;
    overflow-y: scroll;
}

.upgrade{
    background-color: rgb(63, 161, 226);
    border: 3px solid rgb(54, 54, 54);
}

